.wrapper {
    background-color: #313131;

    width: 100vw;
    height: 100vh;

    color: rgb(233, 233, 233);

    padding: 100px 20px;
}

.code {
    border-radius: 5px;
    font-size: 40px;
    height: 70px;
    width: 60px;
    border: 1px solid rgb(255, 255, 255);
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    font-weight: 300;
    background-color: #313131;
    color: white;
}

.title {
    font-size: 30px;
}

.subtitle {
    font-size: 16px;
}

.button {
    padding: 10px 20px;
    width: min-content;
    border-style: solid;
    cursor: pointer;
    border-radius: 3px;
    border-width: 1px;

    background-color: #313131;
    transition: 0.2s;
}

.button:hover {
    background-color: #292929;
    color: white;
}